@import "tailwindcss";

@theme{
    --color-primary: #5acc05;
    --color-secondary: #4497d9;
}

@keyframes wave {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}

@keyframes wave_12s {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}